h1, h2, h3, h4, h5, h6, p {
	font-weight: 300;
}

p {
	font-size: 16px;
}

.bold {
	font-weight: bold;
}

.jumbotron {
	/*background-image: url("images/computer.jpg");
	background-size: cover;*/
	padding: 10px;
	height: 550px;
	color: #FFF;
}

.divider-dark {
	height: 1px;
	overflow: hidden;
	background-color: #999999;
}

.content-section {
	padding-top: 50px;
	padding-bottom: 50px;
}

.profile-photo {
	width: 240px;
	border: 10px;
	border-style: solid;
	border-color: #e0e0e0;
}

.profile-info p {
	font-size: 18px;
}

.social-icon {
	margin: 8px;
}

@media (max-width: 600px) {
	h1 {
		font-size: 36px;
	}

  .jumbotron {
  	height: 330px;
  }
}